.custom-header{
   background:linear-gradient( rgb(177, 177, 216),rgb(108, 108, 207));
    color:white;
    font-family:Arial, Helvetica, sans-serif;
 }
 .search-btn{
    background-color: gray;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 15px;
 }

 .list-items{
    padding: 10px;
    background-color: rgb(177, 177, 216);
    border-style: double;
    border-radius: 5px;
    list-style: none;
    text-transform:capitalize;
    font-style: bold;
 }

 #current-city{
   margin-left: 30px;
   justify-content: space-around;
   font-size: larger;
   font-weight: bold;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 .five-day {
   margin-left: 30px;
 }

 #long-forecast{
   justify-content: space-around;
   margin-left: 30px;
 }

 .future-forecast{
  border-style:double;
  background:linear-gradient( rgb(177, 177, 216),rgb(108, 108, 207));
  list-style-type: none;
 }

 .weather-info{
  font-size:medium;
 }