.custom-header {
  background: linear-gradient(rgb(177, 177, 216), rgb(108, 108, 207));
  font-family: Arial, Helvetica, sans-serif;
}
.search-btn {
  background-color: gray;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 15px;
}

.list-items {
  padding: 10px;
  width: 200px;
  background-color: rgb(177, 177, 216);
  border-style: double;
  border-radius: 5px;
  list-style: none;
  text-transform: capitalize;
  font-style: bold;
}

.date-display {
  margin-left: 100px;
  border-style: double;
  background: linear-gradient(rgb(177, 177, 216), rgb(108, 108, 207));
}

#current-city {
  margin-left: 2px;
  font-size: larger;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  list-style-type: none;
}

#city-header {
  text-transform: capitalize;
}

.five-day {
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#long-forecast {
  justify-content: space-around;
  margin-left: 30px;
  height: 100px;
}

.future-forecast {
  border-style: double;
  background: linear-gradient(rgb(177, 177, 216), rgb(108, 108, 207));
  list-style-type: none;
}

.weather-info {
  font-size: medium;
  justify-content: space-between;
}
@media screen and (max-width:992px){
  .list-items {
    width: 100px;
  }
}
@media screen and (max-width:768px){
  .list-items {
    width: 100px;
  }
}